.venv/
.idea/
media/
data/
__pycache__/
staticfiles/
.DS_Store
.env
*.pyc
*.sqlite3
docker-compose.yml
*.rdb
*.log
Makefile
/static/vue/tasks-table-view/index.html
/static/vue/tasks-table-view/*.js
/static/vue/tasks-table-view/*.json