@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

:root {
    --font-family: 'Ubuntu', sans-serif;
    --font-family-condensed: 'Ubuntu Condensed', sans-serif;
}

body {
  font-size: 16px;
  font-family: var(--font-family);
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 768px) {
  .sidebar {
    top: 50px;
  }

  .card-header {
    font-family: var(--font-family-condensed);
    padding: 8px;
  }

  .list-card .card-header {
    display: none;
  }

  .card-title {
    font-family: var(--font-family-condensed);
  }

  .card-body {
    padding: 8px;
  }

  .card-footer {
    font-family: var(--font-family-condensed);
    padding: 8px;
  }

  .dropdown-task-list-order,
  .dropdown-task-list-filter {
    display: none;
  }

  .timeline__desc_avatar__avatar {
    display: none;
  }

  .table th, td {
    padding-left: 0;
    padding-right: 0;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .4);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Print version */
@media print {
  .navbar,
  .btn,
  .toolbar-link,
  .comments-form-new {
    display: none;
  }
}

/* Timeline CSS https://csslayout.io/timeline/ */
.timeline {
  /* Used to position the left vertical line */
  position: relative;
}

.timeline__line {
  /* Border */
  border-right: 2px solid #d1d5db;

  /* Positioned at the left */
  left: 0.75rem;
  position: absolute;
  top: 0;

  /* Take full height */
  height: 100%;
}

.timeline__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.timeline__item {
  margin-bottom: 25px;
}

.timeline__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.timeline__circle {
  /* Rounded border */
  background-color: #d1d5db;
  border-radius: 9999px;

  /* Size */
  height: 1.5rem;
  width: 1.5rem;

  /* Icon color */
  color: var(--bs-secondary-color);

  /* This is for icon on top of the circle to be visible */
  z-index: 1;
}

.timeline__title {
  /* Take available width */
  flex: 1;
  align-items: center;
  line-height: 1rem;
  margin-left: 0.5rem;
  font-family: var(--font-family-condensed);
}

.timeline__title a {
  text-decoration: none;
}

@media (min-width: 1080px) {
  .timeline__title {
    font-size: 1.1rem;
  }

  .table-task-title-link {
    font-size: 1.2rem;
  }
}

.timeline__title__timestamp {
  font-family: var(--font-family-condensed);
}

.timeline__desc {
  /* Make it align with the title */
  margin-left: 2rem;
}

.timeline__desc .card-body {
  background-color: rgba(33, 37, 41, 0.03);
}

.timeline__desc_avatar {
  /* For descriptions which begin with round userpic (e.g.comments) */
  margin-left: 24px;
}

/* For like <h1><a class="title-link">...</a></h1> stuff */
.title-link {
  color: var(--bs-body-color);
  text-decoration: none;
}

.title-link:hover {
  text-decoration: underline;
}

.nav .nav-item:hover {
  background-color: var(--bs-dark-bg-subtle);
}

.nav .nav-item-active {
  background-color: var(--bs-secondary-bg);
}

.toolbar-link {
  margin-right: 3px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.toolbar-link:last-child {
  margin-right: 0;
}

.toolbar-link-danger:hover {
  color: var(--bs-danger);
}

.toolbar-link-primary:hover {
  color: var(--bs-primary);
}

.star-link {
  border: 0;
  background-color: transparent;
  margin-right: 3px;
  padding: 0;
  color: var(--bs-secondary-bg);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.star-link:hover {
  color: var(--bs-dark-bg-subtle);
  transform: scale(1.1);
}

.star-link-favorite:hover
{
  color: var(--bs-warning-border-subtle);
  transform: scale(1.1);
}

.star-link-favorite {
  border: 0;
  background-color: transparent;
  margin-right: 3px;
  padding: 0;
  color: var(--bs-warning);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.card-body p {
  font-size: 1.1rem;
  margin: 0;
}

.card-body img {
  max-width: 100%;
}

.accordion-body p {
  margin: 0;
}

.card-new .card {
  border-color: var(--bs-success);
}

.card-new .card-header,
.card-new .card-footer {
  background-color: var(--bs-success-bg-subtle);
}

.due-date-overdue {
  font-weight: bold;
  color: var(--bs-danger-text);
}

.due-date-today {
  font-weight: bold;
  color: var(--bs-warning-text);
}

.list-card {
  transition: 0.5s;
}

.list-card:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  transform: scale(1.001);
}

.task-card-body p, ol, ul {
  font-size: 1.1rem;
}

.task-card-body img {
  max-width: 100%;
}

.document-card-body p, ol, ul {
  font-size: 1.1rem;
}

.document-card-body img {
  max-width: 100%;
}

.task-list-dropdown {
  font-family: var(--font-family-condensed);
}

.bubble,
.bubble-new {
  position: relative;
}

.bubble:after,
.bubble-new:after{
  content: "";
  position: absolute;
  top: 43px;
  left: -4px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border: 4px solid;
  opacity: 1;
  box-shadow: 1px 1px 1px var(--bs-card-border-color);
  border-color: transparent white white transparent;
}

.bubble-new:after {
  box-shadow: 1px 1px 1px var(--bs-success-text);
}

.table a {
  text-decoration: none;
}