<div class="card mb-3">
  <div class="card-header">
    <i class="fa-solid fa-tag"></i> {{ task.category }}
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a class="title-link" href="{{ task.get_absolute_url }}">
        {{ task.title }}
      </a>
    </h5>
    <p class="card-text">{{ task.body }}</p>
  </div>
  <div class="card-footer text-muted">
    <i class="fa-regular fa-calendar"></i> Создана {{ task.created }} &middot; <i class="fa-solid fa-user"></i> {{ task.author.username }} &middot; <i class="fa-solid fa-comments"></i> Комментарии: {{ task.comments.count }}, новых - 0 &middot; <i class="fa-solid fa-user-check"></i> Ознакомлены: {{ task.users_acquainted.count }}
  </div>
</div>