<div id="task_with_comments">
  <div class="card {% if not user in task.users_acquainted.all %}card-new border-success{% endif %} mb-2">
    <div class="card-header text-muted">
      <div class="d-flex flex-wrap flex-md-nowrap align-items-center">
        <div class="flex-grow-1">
          {% include "snippets/task_list_item_favorite_button.html" with task=task %}
          {% if task.is_private %}
            <i class="fa-solid fa-lock me-1" data-bs-toggle="tooltip" data-bs-title="Личная задача, доступна только вам" data-bs-delay='{"show":1000,"hide":0}'></i>
          {% endif %}
          <span data-bs-toggle="tooltip" data-bs-title="Дата и время создания задачи" data-bs-delay='{"show":1000,"hide":0}'>
            <i class="fa-regular fa-calendar"></i> {{ task.created }}
          </span>
          <span data-bs-toggle="tooltip" data-bs-title="Автор задачи" data-bs-delay='{"show":1000,"hide":0}'>
            &middot; <i class="fa-solid fa-user"></i> {{ task.author.short_name }}
          </span>
          <!-- &middot;  <i class="fa-solid fa-user-check"></i> {{ task.users_acquainted.count }} -->
          {% if task.due_date %}
            &middot; <i class="fa-solid fa-calendar-day"></i> {{ task.due_date }}
          {% endif %}
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          {% if user.is_superuser or not task.is_completed and task.author == user %}
            <!-- EDIT button only for superuser or author for open tasks -->
            <a class="btn btn-sm btn-secondary" href="{% url 'journal:task_update' task.pk %}">
              <i class="fa-solid fa-pen-to-square"></i> Изменить
            </a>
          {% endif %}
          {% if user.is_superuser %}
            <!-- EDIT button only for superuser or author for open tasks -->
            <a class="btn btn-sm btn-secondary ms-2" href="/adminpanel/journal/task/{{ task.pk }}/change/">
              <i class="fa-solid fa-pen-to-square"></i> В админке
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body">
      {{ task.body|linebreaks }}
      {% if task.attachment %}
        <p>
          <i class="fa-solid fa-paperclip"></i> Файл: <a href="{{ task.attachment.url }}">
            {{ task.attachment.name }}</a>
          ({{ task.attachment.size|filesizeformat }})
        </p>
      {% endif %}
    </div>
  </div>

  {% include 'snippets/task_comments_block.html' with task=task %}
</div>