{% load journal_filters %}

{% with task|new_comments_count_for_user:user as new_comments_count %}
<div class="card list-card {% if not task|is_user_acquainted:user %}card-new border-success{% else %}border-dark{% endif %} mb-2">
  <div class="card-header">
    {% if task.is_private %}
      <i class="fa-solid fa-lock me-1"
          data-bs-toggle="tooltip" data-bs-title="Личная задача - доступна только вам"
          data-bs-delay='{"show":1000,"hide":0}'>
      </i>
    {% endif %}
    {% if task.is_completed %}
      <i class="fa-solid fa-file-circle-check me-1"
          data-bs-toggle="tooltip" data-bs-title="Завершенная (выполненная) задача"
          data-bs-delay='{"show":1000,"hide":0}'>
      </i>
    {% endif %}
    <i class="fa-solid fa-tag"></i> <span class="text-muted">{{ task.category }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title mb-0">
      {% include "snippets/task_list_item_favorite_button.html" with task=task %}
      <a class="title-link" href="{{ task.get_absolute_url }}">
        {{ task.title }}
      </a>
    </h5>
    <!--
    <p class="card-text">
      {{ task.body|truncatechars:232 }}
    </p>
    -->
  </div>
  <div class="card-footer text-muted">
    {% if task.last_comment_datetime %}
      <span data-bs-toggle="tooltip" data-bs-title="Дата и время последнего комментария к задаче" data-bs-delay='{"show":1000,"hide":0}'>
        <i class="fa-solid fa-comment"></i> {{ task.last_comment_datetime }}
      </span>
    {% else %}
      <span data-bs-toggle="tooltip" data-bs-title="Дата и время создания задачи" data-bs-delay='{"show":1000,"hide":0}'>
        <i class="fa-regular fa-calendar"></i> {{ task.created }}
      </span>
    {% endif %}
    <span data-bs-toggle="tooltip" data-bs-title="Количество комментариев к задаче" data-bs-delay='{"show":1000,"hide":0}'>
      &middot; <i class="fa-solid fa-comments"></i> {{ task.active_comments.count }}
    </span>
    {% if new_comments_count %}
      <span class="badge text-bg-success"
            data-bs-toggle="tooltip" data-bs-title="Количество новых комментариев к задаче, с которыми вы еще не ознакомлены"
            data-bs-delay='{"show":1000,"hide":0}'>
        {{ new_comments_count }}
      </span>
    {% endif %}
    {% if task.due_date %}
      &middot;
      <span class="{% if task.is_overdue and not task.is_completed %}due-date-overdue{% elif task.is_due_today and not task.is_completed %}due-date-today{% endif %}"
            data-bs-toggle="tooltip" data-bs-title="Установленный срок выполнения задачи" data-bs-delay='{"show":1000,"hide":0}'>
        <i class="fa-solid fa-calendar-day"></i> {{ task.due_date }}
      </span>
    {% endif %}
  </div>
</div>
{% endwith %}