{% load journal_filters %}
{% load static %}

<div id="comments">
  <!-- Timeline demo -->
  <div class="timeline">
    <!-- Left vertical line -->
    <div class="timeline__line"></div>

    <!-- The timeline items timeline -->
    <div class="timeline__items">
      {% for comment in task.active_comments.all %}
        <!-- Each timeline item -->
        <div class="timeline__item">
          <!-- The circle and title -->
          <div class="timeline__top mb-2">
            <!-- The circle -->
            <div class="timeline__circle"></div>

            <!-- The title -->
            <div class="timeline__title" id="comment-{{ comment.pk }}">
              Добавлен комментарий:
            </div>
          </div>
          <!-- The description -->
          <div class="timeline__desc">
            <div class="d-flex">
              <!-- Comment author's avatar -->
              <div class="mt-3">
                {% if comment.author.avatar_img %}
                  <img src="{{ comment.author.avatar_img.url }}" alt="" width="48" height="48" class="rounded-circle me-2">
                {% else %}
                  <img src="{% static 'images/default_profile_pic.png' %}" alt="" width="48" height="48" class="rounded-circle me-2">
                {% endif %}
              </div>
              <!-- Comment card -->
              <div class="card flex-grow-1 {% if not user in comment.users_acquainted.all %}card-new border-success{% endif %}" hx-confirm="Вы уверены, что хотите удалить этот комментарий?"
                  hx-target="#comments"
                  hx-swap="outerHTML">
                <div class="card-header d-flex text-muted">
                  <!-- Comment info -->
                  <div class="flex-grow-1">
                    <i class="fa-solid fa-user"></i> {{ comment.author.short_name }}, {{ comment.created }}
                  </div>
                  <!-- Buttons -->
                  <div>
                    {# ADMIN edit #}
                    {% if user.is_superuser %}
                      <a class="toolbar-link toolbar-link-primary" href="/adminpanel/journal/comment/{{ comment.pk }}/change/"
                         data-bs-toggle="tooltip" data-bs-title="Редактировать в панели администратора"
                         data-bs-delay='{"show":1000,"hide":0}'>
                        <i class="fa-solid fa-pen-to-square"></i>
                      </a>
                    {% endif %}
                    <!-- ARCHIVE (do not show to author if task is completed -->
                    {% if user.is_superuser or comment.author == user and not task.is_completed  %}
                      <a class="toolbar-link toolbar-link-danger"
                         hx-delete="{% url 'journal:task_comment_archive' task.pk comment.pk %}"
                         data-bs-toggle="tooltip" data-bs-title="Удалить комментарий"
                         data-bs-delay='{"show":1000,"hide":0}'>
                        <i class="fa-solid fa-trash"></i>
                      </a>
                    {% endif %}
                    <!-- DELETE -->
                    {% if user.is_superuser %}
                      <a class="toolbar-link toolbar-link-danger" hx-delete="{% url 'journal:task_comment_delete' task.pk comment.pk %}"
                         data-bs-toggle="tooltip" data-bs-title="Удалить комментарий (администратор)"
                         data-bs-delay='{"show":1000,"hide":0}'>
                        <i class="fa-solid fa-trash-can-arrow-up"></i>
                      </a>
                    {% endif %}
                  </div>
                </div>
                <div class="card-body">
                  {{ comment.body|linebreaks }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if task.is_completed %}
    <div class="alert alert-success">
      <i class="fa-solid fa-file-circle-check"></i> Задача завершена.
    </div>
    {% if not task|is_user_acquainted:user %}
      {# NB: Some code duplication here, gotta refactor eventually... #}
      <div class="btn-toolbar mb-2 mb-md-0 justify-content-end">
        <button class="btn btn-sm btn-primary me-2"
                hx-post="{% url 'journal:task_acquaint' task.pk %}"
                hx-trigger="click"
                hx-target="#task_with_comments"
                hx-swap="outerHTML">
          <i class="fa-solid fa-file-signature"></i> Ознакомлен
        </button>
      </div>
    {% endif %}
  {% else %}
    <form hx-post="{% url 'journal:task_comment_add' task.pk %}" hx-target="#comments" hx-swap="outerHTML">
      <div class="mb-3">
        <label for="comment_text" class="form-label">Добавить комментарий:</label>
        <div class="d-flex">
          <div>
            {% if user.avatar_img %}
              <img src="{{ user.avatar_img.url }}" alt="" width="48" height="48" class="rounded-circle me-2">
            {% else %}
              <img src="{% static 'images/default_profile_pic.png' %}" alt="" width="48" height="48" class="rounded-circle me-2">
            {% endif %}
          </div>
          <div class="flex-grow-1">
            <textarea class="form-control" id="comment-text" name="comment_text" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="d-flex mb-3">
        <div class="flex-grow-1">
          <input class="form-check-input" type="checkbox" value="complete" id="check-complete-task"
                 name="check_complete_task" disabled>
          <label class="form-check-label" for="check-complete-task">
            Завершить задачу с этим комментарием
          </label>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0 justify-content-end">
          {% if not task|is_user_acquainted:user %}
            <button class="btn btn-sm btn-primary me-2"
                    hx-post="{% url 'journal:task_acquaint' task.pk %}"
                    hx-trigger="click"
                    hx-target="#task_with_comments"
                    hx-swap="outerHTML">
              <i class="fa-solid fa-file-signature"></i> Ознакомлен
            </button>
          {% endif %}
          <!-- if checkbox checked, change button title to "comment and close": -->
          <button class="btn btn-sm btn-success" id="submit-button" type="submit">
            <i class="fa-solid fa-comment"></i> Комментировать
          </button>
        </div>
      </div>
    </form>
  {% endif %}
</div>

<script>
{% block domready %}
  const completedCheckBox = document.getElementById('check-complete-task');
  const commentTextarea = document.getElementById('comment-text');
  const submitButton = document.getElementById('submit-button');

  commentTextarea.addEventListener("keyup", (event) => {
    let commentText = commentTextarea.value.toString().trimStart().trimEnd();

    if(commentText.length >= 5) {
      completedCheckBox.disabled = false;
    } else {
      completedCheckBox.disabled = true;
      completedCheckBox.checked = false;
    }

    let eventChange = new Event('change');
    completedCheckBox.dispatchEvent(eventChange);
  });

  completedCheckBox.addEventListener("change", (event) => {
    if (event.currentTarget.checked) {
      submitButton.innerHTML = '<i class="fa-solid fa-file-circle-check"></i> Завершить задачу';
    } else {
      submitButton.innerHTML = '<i class="fa-solid fa-comment"></i> Комментировать';
    }
  });
{% endblock %}
</script>