{% load journal_filters %}

<tr {% if not task|is_user_acquainted:user %}class="table-success"{% endif %}>
  <td>
    {% include "snippets/task_list_item_favorite_button.html" with task=task %}
  </td>
  <td>
    {% if task.is_private %}
      <span class="text-muted">
        <i class="fa-solid fa-lock"></i>
      </span>
    {% endif %}
  </td>
  <td colspan="2">
    <a href="{{ task.get_absolute_url }}">
      {{ task.title }}
    </a>
    {% if not category_id %}
      {# Do not show category here if filter by category is on #}
      <br>
      <span class="text-muted">
        <i class="fa-solid fa-tag"></i> {{ task.category }}
      </span>
    {% endif %}
  </td>
  <td>
    <span class="text-muted">
      {{ task.active_comments.count }}
    </span>
  </td>
  <!-- <td>{{ task.category }}</td> -->
  <td>
    <span class="text-muted">
      {{ task.created }}
    </span>
  </td>
  <td>
    {% if task.completed %}
      <span class="text-muted">
        {{ task.completed }}
      </span>
    {% endif %}
  </td>
</tr>