{% load journal_filters %}

<div id="comments">
  <!-- Timeline demo -->
  <div class="timeline">
    <!-- Left vertical line -->
    <div class="timeline__line"></div>

    <!-- The timeline items timeline -->
    <div class="timeline__items">
      {% for comment in task.active_comments.all %}
        <!-- Each timeline item -->
        <div class="timeline__item">
          <!-- The circle and title -->
          <div class="timeline__top mb-2">
            <!-- The circle -->
            <div class="timeline__circle"></div>

            <!-- The title -->
            <div class="timeline__title">
              Добавлен комментарий:
            </div>
          </div>
          <!-- The description -->
          <div class="timeline__desc">
            <!-- Comment card -->
            <div class="card {% if not user in comment.users_acquainted.all %}card-new border-success{% endif %}" hx-confirm="Вы уверены, что хотите удалить этот комментарий?"
                hx-target="#comments"
                hx-swap="outerHTML">
              <div class="card-header d-flex text-muted">
                <!-- Comment info -->
                <div class="flex-grow-1">
                  <i class="fa-solid fa-user"></i> {{ comment.author.short_name }}, {{ comment.created }}
                </div>
                <!-- Buttons -->
                <div>
                  <!-- ARCHIVE (do not show to author if task is completed -->
                  {% if user.is_superuser or comment.author == user and not task.is_completed  %}
                    <a class="toolbar-link toolbar-link-danger" hx-delete="{% url 'journal:task_comment_archive' task.pk comment.pk %}">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  {% endif %}
                  <!-- DELETE -->
                  {% if user.is_superuser %}
                    <a class="toolbar-link toolbar-link-danger" hx-delete="{% url 'journal:task_comment_delete' task.pk comment.pk %}">
                      <i class="fa-solid fa-trash-can-arrow-up"></i>
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class="card-body">
                {{ comment.body|linebreaks }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if task.is_completed %}
    <div class="alert alert-success">
      <i class="fa-solid fa-file-circle-check"></i> Задача завершена.
    </div>
    {% if not task|is_user_acquainted:user %}
      {# NB: Some code duplication here, gotta refactor eventually... #}
      <div class="btn-toolbar mb-2 mb-md-0 justify-content-end">
        <button class="btn btn-sm btn-primary me-2"
                hx-post="{% url 'journal:task_acquaint' task.pk %}"
                hx-trigger="click"
                hx-target="#task_with_comments"
                hx-swap="outerHTML">
          <i class="fa-solid fa-file-signature"></i> Ознакомлен
        </button>
      </div>
    {% endif %}
  {% else %}
    <form hx-post="{% url 'journal:task_comment_add' task.pk %}" hx-target="#comments" hx-swap="outerHTML">
      <div class="mb-3">
        <label for="comment_text" class="form-label">Добавить комментарий:</label>
        <textarea class="form-control" id="comment_text" name="comment_text" rows="3"></textarea>
      </div>

      <div class="btn-toolbar mb-2 mb-md-0 justify-content-end">
        <a class="btn btn-sm btn-secondary me-2" onclick="placeholderButton();" style="cursor: not-allowed;">
          <i class="fa-solid fa-circle-check"></i> Завершить
        </a>
        {% if not task|is_user_acquainted:user %}
          <button class="btn btn-sm btn-primary me-2"
                  hx-post="{% url 'journal:task_acquaint' task.pk %}"
                  hx-trigger="click"
                  hx-target="#task_with_comments"
                  hx-swap="outerHTML">
            <i class="fa-solid fa-file-signature"></i> Ознакомлен
          </button>
        {% endif %}
        <button class="btn btn-sm btn-success" type="submit">
          <i class="fa-solid fa-comment"></i> Комментировать
        </button>
      </div>
    </form>
  {% endif %}
</div>