{% load journal_filters %}

<tr {% if not task.is_acquainted %}class="table-success"{% endif %}>
  <!-- TODO move to snippet -->
  <td class="text-center">
    <button class="{% if task.is_favorite %}star-link-favorite{% else %}star-link{% endif %} me-0"
            hx-post="{% url 'journal:task_toggle_favorite' task.pk %}"
            hx-target="this"
            hx-swap="outerHTML">
      <i class="fa-regular fa-star"></i>
    </button>
  </td>
  <td class="text-center">
    {% if task.is_private %}
      <span class="text-muted">
        <i class="fa-solid fa-lock"></i>
      </span>
    {% endif %}
  </td>
  <td colspan="2">
    <a href="{{ task.get_absolute_url }}">
      {{ task.title }}
    </a>
    {% if category_id == "0" %}
      {# Do not show category here if filter by category is on #}
      <br>
      <span class="text-muted">
        <i class="fa-solid fa-tag"></i> {{ task.category }}
      </span>
    {% endif %}
  </td>
  <td class="text-center">
    <span class="text-muted">
      {{ task.comments_count }} | {{ task.new_comments_count }}
    </span>
  </td>
  <td>
    <span class="text-muted">
      {{ task.created }}
    </span>
  </td>
  <td>
    {% if task.completed %}
      <span class="text-muted">
        {{ task.completed }}
      </span>
    {% endif %}
  </td>
</tr>