{% load static %}

<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} &mdash; Журнал Дежурства</title>

  <link href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
  {% block body %}
  {% endblock body %}

  <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/htmx-1.8.4.min.js' %}"></script>
  <script>
    function placeholderButton() {
      alert('Пока ещё эта кнопка не работает!')
    }

    document.addEventListener('DOMContentLoaded', () => {
      // Init HTMX
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })

      // Init Bootstrap tooltips
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

      {% block domready %}
      {% endblock domready %}
    });
  </script>
  {% block footer_scripts %}
  {% endblock footer_scripts %}
</body>

</html>