{% extends "base_dashboard.html" %}

{% block dashboard_page_header %}
  <h1 class="h2">{% block title %}{% endblock title %}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  <!--
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-download"></i> <i class="fa-solid fa-file-csv"></i></button>
      <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-download"></i> <i class="fa-solid fa-file-pdf"></i></button>
    </div>
    -->
    <!-- Sort dropdown -->
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle task-list-dropdown me-2"
              data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-sort"></i> Порядок:
        {% if order_by == "latest_comment" %}
          по последним комментариям <i class="fa-solid fa-arrow-down-9-1"></i>
        {% elif order_by == "created"%}
          по времени создания <i class="fa-solid fa-arrow-down-9-1"></i>
        {% elif order_by == "completed"%}
          по времени завершения <i class="fa-solid fa-arrow-down-9-1"></i>
        {% endif %}
      </button>
      <ul class="dropdown-menu text-small shadow">
        <li>
          <a class="dropdown-item {% if order_by == "created" %}active{% endif %}"
             href="{% if order_by == "created" %}#{% else %}{{ request.path }}?order_by=created{% endif %}">
            <i class="fa-solid fa-arrow-down-9-1"></i> По времени создания задачи
          </a>
        </li>
        <li>
          <a class="dropdown-item {% if order_by == "latest_comment" %}active{% endif %}"
             href="{% if order_by == "latest_comment" %}#{% else %}{{ request.path }}?order_by=latest_comment{% endif %}">
            <i class="fa-solid fa-arrow-down-9-1"></i> По последним комментариям
          </a>
        </li>
        <li>
          <a class="dropdown-item {% if order_by == "completed" %}active{% endif %}"
             href="{% if order_by == "completed" %}#{% else %}{{ request.path }}?order_by=completed{% endif %}">
            <i class="fa-solid fa-arrow-down-9-1"></i> По времени завершения
          </a>
        </li>
        <li>
          <a class="dropdown-item disabled" href="#">
            <i class="fa-solid fa-arrow-down-9-1"></i> По сроку выполнения
          </a>
        </li>
      </ul>
    </div>
    <!-- Filter dropdown -->
    <div class="dropdown">
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle task-list-dropdown me-2"
              data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-filter"></i> Фильтр:
        {% if get_hide_private %}скрыть личные{% else %}нет{% endif %}
      </button>
      <ul class="dropdown-menu text-small shadow">
        <li>
          <a class="dropdown-item {% if get_hide_private %}active{% endif %}" href="{{ request.path }}{% if get_hide_private %}?hide_private=false{% else %}?hide_private=true{% endif %}">
            <i class="fa-solid fa-lock"></i> Скрыть личные
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ request.path }}?hide_private=false"><i class="fa-solid fa-filter-circle-xmark"></i> Очистить фильтр</a></li>
      </ul>
    </div>

    <a class="btn btn-sm btn-success" href="{% url 'journal:task_create' %}">
      <i class="fa-solid fa-file-circle-plus"></i> Добавить задачу
    </a>
  </div>
{% endblock dashboard_page_header %}