{% load static %}

<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} &mdash; Журнал Дежурства</title>

  <link href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
  <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <script async src="https://stats.hazadus.ru/script.js" data-website-id="e3fb45c8-5b3c-47aa-8498-dcfa41cae484"></script>
</head>

<body>
  {% block body %}
  {% endblock body %}

  <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/htmx-1.8.4.min.js' %}"></script>
  <script>
    // Network stuff
    let webSocket;

    function webSocketConnect() {
      // Establish WebSocket connection, and reconnect when socket is closed.
      const url = 'ws://' + window.location.host + '/ws/notifications/';
      webSocket = new WebSocket(url);

      webSocket.onopen = function() {
        console.log('Base: WebSocket opened.');
      };

      webSocket.onmessage = function(event) {
        const notification = JSON.parse(event.data);
        console.log('Base - WS message - verb: ' + notification.verb_code + ' from ' + notification.actor.username);
        // Update badges upon receiving any notification
        // "task_add", "task_completed", "comment_add", "acquainted"
        switch (notification.verb_code) {
          case "task_add":
          case "task_completed":
          case "comment_add":
          case "acquainted":
          case "favorites_add":
            updateNewTaskCountBadges();
        }
      };

      webSocket.onclose = function(err) {
        console.log('Base: Socket is closed unexpectedly. Reconnect will be attempted in 1 second. Error:', err.message);
        setTimeout(function() {
          webSocketConnect();
        }, 1000);
      };

      webSocket.onerror = function(err) {
        console.error('Base: Socket encountered error: ', err.message, '. Closing socket.');
        webSocket.close();
      };
    }

    function updateNewTaskCountBadges() {
      // Fetches count of "new" tasks for logged in user from DRF API and updates the badges
      let url = '{% url "journal:api_task_stats" %}';
      let options = {
        method: 'GET',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        mode: 'same-origin',
      }

      fetch(url, options).then(response => response.json()).then(stats => {
        badgeTotalNewTaskCount1.innerHTML = stats.total_new_tasks;
        badgeTotalNewTaskCount1.style.visibility = stats.total_new_tasks === 0 ? 'hidden' : 'visible';
        badgeTotalNewTaskCount2.innerHTML = stats.total_new_tasks;
        badgeTotalNewTaskCount2.style.visibility = stats.total_new_tasks === 0 ? 'hidden' : 'visible';

        badgeActiveNewTaskCount.innerHTML = stats.active_new_tasks;
        badgeActiveNewTaskCount.style.visibility = stats.active_new_tasks === 0 ? 'hidden' : 'visible';

        badgeFavoriteNewTaskCount.innerHTML = stats.favorite_new_tasks;
        badgeFavoriteNewTaskCount.style.visibility = stats.favorite_new_tasks === 0 ? 'hidden' : 'visible';

        badgeCompletedNewTaskCount.innerHTML = stats.completed_new_tasks;
        badgeCompletedNewTaskCount.style.visibility = stats.completed_new_tasks === 0 ? 'hidden' : 'visible';
      });
    }

    // Badges stuff
    let badgeTotalNewTaskCount1 = document.getElementById('badge-total-new-task-count-1');
    let badgeTotalNewTaskCount2 = document.getElementById('badge-total-new-task-count-2');
    let badgeActiveNewTaskCount = document.getElementById('badge-active-new-task-count');
    let badgeFavoriteNewTaskCount = document.getElementById('badge-favorite-new-task-count');
    let badgeCompletedNewTaskCount = document.getElementById('badge-completed-new-task-count');

    document.addEventListener('DOMContentLoaded', () => {
      // Connect to WebSocket
      webSocketConnect();

      // Init HTMX
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });

      // Initial update of badges
      updateNewTaskCountBadges();

      // Init Bootstrap tooltips
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

      {% block domready %}
      {% endblock domready %}
    });
  </script>
  {% block footer_scripts %}
  {% endblock footer_scripts %}
</body>

</html>