{% extends "base.html" %}

{% block body %}
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Журнал Дежурства</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Найти..."
      aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Выход <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                <i class="fa-solid fa-book"></i> Журнал
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if "/" == request.path %}active{% endif %}" href="{% url 'journal:task_list' %}">
                <i class="fa-solid fa-list-check"></i> Задачи
              </a>
            </li>
            <!-- Subitems -->
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-lightbulb"></i> Новые
              </a>
            </li>
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-lock"></i> Личные
              </a>
            </li>
            <li class="nav-item" style="margin-left: 20px;">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-check-double"></i> Завершенные
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-file-invoice"></i> Документы
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-magnifying-glass"></i> Поиск
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-chart-line"></i> Отчет
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          {% block dashboard_page_header %}
          {% endblock dashboard_page_header %}
        </div>

        <!-- CONTENT -->
        {% block content %}
        {% endblock content %}
        <!-- END CONTENT -->
      </main>
    </div>
  </div>
{% endblock body %}