{% extends "base_dashboard.html" %}

{% block title %}Актуальные документы и поручения{% endblock title %}

{% block dashboard_page_header %}
  <h1 class="h2">
    Актуальные документы и поручения
  </h1>
{% endblock dashboard_page_header %}

{% block content %}
  {% if document_list %}
    {# List `green` documents on top of the list #}
    {% for document in document_list %}
      {% if not user in document.users_acquainted.all %}
        {% include "snippets/document_list_item.html" with document=document %}
      {% endif %}
    {% endfor %}
    {# List other documents #}
    {% for document in document_list %}
      {% if user in document.users_acquainted.all %}
        {% include "snippets/document_list_item.html" with document=document %}
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="alert alert-info">
      <i class="fa-solid fa-circle-info"></i> Нет документов и поручений, удовлетворяющих заданным параметрам.
    </div>
  {% endif %}
{% endblock content %}