{% extends "base_dashboard.html" %}

{% load core_filters %}

{% block title %}Отчёты{% endblock title %}

{% block dashboard_page_header %}
  <h1 class="h2">
    Отчёты
  </h1>
{% endblock dashboard_page_header %}

{% block content %}
  <div class="alert alert-info">
    <i class="fa-solid fa-circle-info"></i> Отчеты о передаче смены в формате Excel генерируются автоматически
    ежедневно в 09:00 и 21:00 и включают все активные на момент задачи и комментарии к ним, а также задачи, завершенные
    в отчетные сутки. В данном разделе представлен архив с возможностью скачать любой файл.
  </div>

  {% if report_list %}
    <ul>
      {% for key in reports_by_month.keys %}
        <li>
          {{ key }}
          <ul style="list-style: none; padding: 0;">
            {% for report in reports_by_month|get_dict_item_by_key:key %}
              <li>
                <i class="fa-solid fa-file-excel"></i>
                <i class="fa-solid fa-paperclip"></i>
                <a href="{{ report.attachment.url }}">
                  {{ report.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning">
      <i class="fa-solid fa-warning"></i> Не найдено ни одного отчета.
    </div>
  {% endif %}
{% endblock content %}