{% extends "base_dashboard_task_list.html" %}

{% load journal_filters %}

{% block title %}Избранные задачи{% endblock title %}

{% block content %}
  {% if favorite_task_list %}
    {% for task in favorite_task_list %}
      {% include "snippets/task_list_item.html" with task=task %}
    {% endfor %}
  {% else %}
    <div class="alert alert-info">
      <i class="fa-solid fa-circle-info"></i> Вы пока ещё не добавили в "Избранное" ни одной задачи.
    </div>
  {% endif %}
{% endblock content %}