{% extends "base_dashboard.html" %}

{% block title %}
  {{ task.title }}
{% endblock title %}

{% block dashboard_page_header %}
  <h1 class="h2">{{ task.title }}</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-success" href="{% url 'journal:task_create' %}">
      <i class="fa-solid fa-file-circle-plus"></i> Добавить задачу
    </a>
  </div>
{% endblock dashboard_page_header %}

{% block content %}
  <div class="card mb-2">
    <div class="card-header text-muted">
      <div class="d-flex flex-wrap flex-md-nowrap align-items-center">
        <div class="flex-grow-1">
          <i class="fa-regular fa-calendar"></i> {{ task.created }} &middot; <i class="fa-solid fa-user"></i> {{ task.author.short_name }} &middot;  <i class="fa-solid fa-user-check"></i> {{ task.users_acquainted.count }} {% if task.due_date %}&middot; <i class="fa-solid fa-calendar-day"></i> {{ task.due_date }}{% endif %}
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <a class="btn btn-sm btn-secondary" href="#">
            <i class="fa-solid fa-pen-to-square"></i> Изменить
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      {{ task.body|linebreaks }}
      {% if task.attachment %}
        <p>
          <i class="fa-solid fa-paperclip"></i> Файл: <a href="{{ task.attachment.url }}">
            {{ task.attachment.name }}</a>
          ({{ task.attachment.size|filesizeformat }})
        </p>
      {% endif %}
    </div>
  </div>

  {% include 'snippets/task_comments_block.html' with task=task %}
{% endblock content %}