{% extends "base_dashboard.html" %}

{% block title %}
  {{ task.title }}
{% endblock title %}

{% block dashboard_page_header %}
  <h1 class="h2">{{ task.title }}</h1>
{% endblock dashboard_page_header %}

{% block content %}
  <div class="card mb-2">
    <div class="card-header text-muted">
      <i class="fa-regular fa-calendar"></i> Создана {{ task.created }} &middot; <i class="fa-solid fa-user"></i> {{ task.author.username }} &middot;  <i class="fa-solid fa-user-check"></i> Ознакомлены: {{ task.users_acquainted.count }}
    </div>
    <div class="card-body">
      {{ task.body|linebreaks }}
      {% if task.attachment %}
        <p>
          <i class="fa-solid fa-paperclip"></i> Файл: <a href="{{ task.attachment.url }}">
            {{ task.attachment.name }}</a>
          ({{ task.attachment.size|filesizeformat }})
        </p>
      {% endif %}
    </div>
  </div>

<!-- Timeline demo -->
<div class="timeline">
  <!-- Left vertical line -->
  <div class="timeline__line"></div>

  <!-- The timeline items timeline -->
  <div class="timeline__items">
    <!-- Each timeline item -->
    <div class="timeline__item">
      <!-- The circle and title -->
      <div class="timeline__top">
        <!-- The circle -->
        <div class="timeline__circle"></div>

        <!-- The title -->
        <div class="timeline__title">Диспетчер добавил комментарий</div>
      </div>

      <!-- The description -->
      <div class="timeline__desc">
        <div class="card">
          <div class="card-body">
            Здесь идёт сообщение или заметки о проведенной по данной задаче работе.
          </div>
        </div>
      </div>
    </div>

    <!-- Repeat other items -->
    <!-- Each timeline item -->
    <div class="timeline__item">
      <!-- The circle and title -->
      <div class="timeline__top">
        <!-- The circle -->
        <div class="timeline__circle"></div>

        <!-- The title -->
        <div class="timeline__title">Действие 1</div>
      </div>

      <!-- The description -->
      <div class="timeline__desc">Description of action 1...</div>
    </div>
    <!-- Each timeline item -->
    <div class="timeline__item">
      <!-- The circle and title -->
      <div class="timeline__top">
        <!-- The circle -->
        <div class="timeline__circle"></div>

        <!-- The title -->
        <div class="timeline__title">Действие 2</div>
      </div>

      <!-- The description -->
      <div class="timeline__desc">Description of action 1...</div>
    </div>
    <!-- Each timeline item -->
    <div class="timeline__item">
      <!-- The circle and title -->
      <div class="timeline__top">
        <!-- The circle -->
        <div class="timeline__circle"></div>

        <!-- The title -->
        <div class="timeline__title">Действие 3</div>
      </div>

      <!-- The description -->
      <div class="timeline__desc">Description of action 1...</div>
    </div>

  </div>
</div>
{% endblock content %}