{% extends "base_dashboard_task_list.html" %}

{% load journal_filters %}

{% block title %}Все активные задачи{% endblock title %}

{% block content %}
  {% if task_list %}
    {# Show `green` tasks at the top of the list #}
    {% for task in task_list %}
      {% if not task|is_user_acquainted:user %}
        {% include "snippets/task_list_item.html" with task=task %}
      {% endif %}
    {% endfor %}
    {# Show other tasks #}
    {% for task in task_list %}
      {% if task|is_user_acquainted:user %}
        {% include "snippets/task_list_item.html" with task=task %}
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="alert alert-info">
      <i class="fa-solid fa-circle-info"></i> Нет задач, удовлетворяющих заданным параметрам.
    </div>
  {% endif %}
{% endblock content %}