{% extends "base_dashboard.html" %}

{% block title %}
  {{ task.title }}
{% endblock title %}

{% block dashboard_page_header %}
  <h1 class="h2">
    {% if task.is_completed %}
      <i class="fa-solid fa-file-circle-check"></i>
    {% endif %}
    {{ task.title }}
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0 flex-shrink-0">
    <a class="btn btn-sm btn-success" href="{% url 'journal:task_create' %}">
      <i class="fa-solid fa-file-circle-plus"></i> Добавить задачу
    </a>
  </div>
{% endblock dashboard_page_header %}

{% block content %}
  {% include "snippets/task_full_block.html" with task=task %}
{% endblock content %}

<script>
{% block domready %}
  // Declare variables for DOM elements, they will be assigned in "task_comments_block.html" <script> section.
  // This separation is needed for HTMX to work properly on partial page reloads, when these DOM elements are changed.
  let completedCheckBox;
  let commentTextarea;
  let submitButton;
{% endblock %}
</script>